*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F7F8F9;
}

header {
    width: 100%;
    font-size: 18pt;
    padding: 20px 25px;
    background-color: #fff;
    position: relative;
}

img {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

nav {
    width: 70%;
    background-color: #fff;
    border-radius: 15px 15px 2px 2px;
    padding: 20px 50px;
    margin: 40px 15% 0 15%;
}

main {
    width: 70%;
    background-color: #fff;
    border-radius: 2px 2px 15px 15px;
    padding: 20px 50px;
    margin: 5px 15% 0 15%;
    color: #4B4F58;
}

section {
    margin: 30px 0;
}

button {
    padding: 7px 15px;
    border-radius: 5px;
}

#button-blue {
    background-color: #47ADF1;
    color: #fff;
    border: none;
}

#button-white {
    color: #D3D8DC;
    border: 1px solid #D3D8DC;
    background-color: #fff;
}

hr {
    color: #D3D8DC;
    width: 100%;
}

h3 {
    margin-bottom: 10px;
}

h3::before {
    content: "\25BE";
    margin-right: 5px;
}

p, section > button {
    display: inline-block;
}

p::before {
    padding: 0 3px;
    border-radius: 50%;
    margin-right: 10px;
}

.positive::before {
    border: 2px solid #71C6B2;
    color: #71C6B2;
    content: "\2713";
}

.negative::before {
    border: 2px solid #F2817B;
    color: #F2817B;
    content: "\2715";
}

section > button {
    font-size: 8pt;
    padding: 5px 10px;
    border: none;
    border-radius: 7px;
    color: #fff;
}

.editorial {
    background-color: #47ADF1;
}

.q1goals {
    background-color: #9C72E4;
}

.recruiting {
    background-color: #65C0A9;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales {
    background-color: #B0C927;
}